@charset "UTF-8";
/* CSS Document */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400..700;1,400..700&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --blue-dark: #232a30;
    --blue-light: #daedfa; 
    --blue-very-light: #e1f7f5;

    --purple: #533777;
    --purple-light: #ae6cc3;
    --purple-very-light: #c290d2;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

  --font-family-sans-serif: 'Noto Sans Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-serif: "Noto Serif", serif;
  --color-text: var(--gray-dark);
  --font-family-text: var(--font-family-sans-serif);
}

body {
  font-family: var(--font-family-sans-serif);
  font-weight: 400;
  font-size: 18px;
  position: relative;
  margin-top: 55px;
  min-height: 100%;
  padding-bottom: 60px;
  margin-bottom: 60px;
  color: #000;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family-sans-serif);
}

form {
  font-family: var(--font-family-sans-serif);
}

table {
  font-family: var(--font-family-sans-serif);
}

/* Links */
a {
  color: var(--blue);
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: var(--purple);
  text-decoration: none;
}

.btn a,
.btn a:visited,
.btn a:hover,
.btn a:focus,
.btn a:active {
  text-decoration: none;
}

/* Hero */

@media screen and (max-width: 768px) {

  .layout-hero {
    min-height: 50vh;
  }

  .layout-hero h1 {
    font-size: 3.2em;
    margin-top: 15px;
  }

}

@media screen and (min-width: 769px) {

  .layout-hero {
    min-height: 40vh;
  }

  .layout-hero h1 {
    font-size: 4.2em;
    font-weight: 900;
  }

}

.layout-hero {
  background: url(../images/cropped-bottles_3000x500.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.layout-hero .lead {
  font-size: 1.8em;
}

.layout-hero .color-hero {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* Full-width Alert */
.alert-full-width {
    width: 100%;
    min-height: 50px;
    margin: 0;
    border: 0px;
    border-radius: 0;
    position: fixed;
    z-index: 999;
}

.alert-stacked {
    width: 100%;
    min-height: 50px;
    margin: 0;
    border-radius: 0;
    border: 0 0 1px 0;
}

.alert-heading {
  font-weight: 600;
}

/* Sticky Home Scroll Button */
#sticky-home {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 100px;
  z-index: 1000;
}

/* Header and Nav */

.site-header {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  padding:0;
}

.site-header .animate__animated {
  animation-delay: 1s;
  animation-duration: 1s;
}

.site-nav,
.site-footer {
  background: var(--gray-dark);
}

.site-header .page-section-title {
  font-size: 3em;
  font-family: var(--font-family-sans-serif);
  font-weight: 200;
}

.site-header .page-section-text {
  font-size: 1.2em;
}

.site-header .nav-link {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 2px;
  font-size: .85em;
}

.site-header .navbar-text {
  padding-bottom: 0;
  margin-bottom: 4px;
  font-size: .9em;
}
/*
.site-header .nav-link:before {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-out;
}

.site-header .nav-link:hover:before {
  visibility: visible;
  left: 0;
  transform: scaleX(1);
}
*/

.shadow-text {
  text-shadow: 2px 2px black;
}

.site-footer {
  font-size: .8em;
}

.landing-page-salutation {
  font-size: 1.8em;
}

.landing-page-section-header {
  border-bottom: 5px solid #000;
  margin-bottom: 40px;
  width: 90hw;
}

@media screen and (max-width: 768px) {

  .landing-page-section-header h1 {
    font-size: 2.5em;
  }

  .landing-page-section h2 {
    font-size: 2.0em;
  }

  .landing-page-section h3 {
    font-size: 1.8em;
  }

  .landing-page-section h4 {
    font-size: 1.4em;
  }

  .landing-page-section h5 {
    font-size: 1.1em;
  }

}

@media screen and (min-width: 769px) {

  .landing-page-section-header h1 {
    font-size: 3.0em;
  }

  .landing-page-section h2 {
    font-size: 2.3em;
  }

  .landing-page-section h3 {
    font-size: 1.9em;
  }

  .landing-page-section h4 {
    font-size: 1.5em;
  }

  .landing-page-section h5 {
    font-size: 1.2em;
  }

}

.landing-page-section-header h1 {
  font-family: var(--font-family-sans-serif);
  font-weight: 900;
  padding: 20px 0px 0px 0px;
}

.landing-page-section h2 {
  font-family: var(--font-family-sans-serif);
  font-weight: 800;
  margin: 30px 0 20px 0;
}

.landing-page-section h3 {
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  margin: 30px 0 20px 0;
}

.landing-page-section h4 {
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  margin: 30px 0 20px 0;
}

.landing-page-section h5 {
  font-family: var(--font-family-sans-serif);
  font-weight: 600;
  margin: 30px 0 20px 0;
}

.landing-page-section p {
  font-weight: 400;
}

.landing-page-section li {
  font-weight: 400;
}

.card-title h5 {
}

.card-text {
}

/* At a Glance Cards */
.glance-card-bg {
  background-color: #fefefe;
  border: 1px solid #aeaeae;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.glance-card-text {
  font-family: var(--font-family-sans-serif);
}

.glance-card-body h5 {
  margin: .5em 0;
}

.glance-header {
  font-weight: 800;
  font-family: var(--font-family-sans-serif);
}

.glance-status-pill {
  width:45%; 
  font-size: .85em;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px 0px;
}

.bg-success-glance-pill {
  background-color: #0F5132;
}

.bg-secondary-glance-pill {
  background-color: #495057;
}

.bg-danger-glance-pill {
  background-color: #842029;
}

.bg-primary-glance-pill {
  background-color: #084298;
}

.text-success-glance-header {
  color: #0F5132;
}

.text-secondary-glance-header {
  calor: #495057;
}

.text-danger-glance-header {
 color: #842029;
}

.text-primary-glance-header {
  color: #084298;
}

/* Sponsor Cards */

.sponsor-header {
  font-weight: 700;
  font-family: var(--font-family-sans-serif);
  font-size: 1.1em;
}

.sponsor-card-bg {
  background-color: #ffffff;
  border: 1px solid #aeaeae;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Account */
.bcoem-account-info {
  font-size: 1em;
}

/* Modals */
.modal h3,
.modal h4,
.modal h5 {
  margin: 0;
}

/* Forms */
.form-check-input {
  border-color: var(--gray-dark);
}

.help-block {
  font-size: .85em;
  font-style: italic;
  color: var(--gray-dark);
  margin-top: .75rem;
}

/* My Account */
.winner-place-pill {
  font-size: .85em;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px 0px;
  right: -45px;
}

/* Alert */
.alert {
  font-family: var(--font-family-sans-serif);
}