@charset "UTF-8";
body,
html {
    min-height: 100%;
}
@page {
    size: auto;
    margin: 1.25cm 0.75cm;
}
@media print {
    a[href]:after {
        content: none!important;
    }
}
html {
    position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    page-break-after: avoid;
}
h1 {
    padding: 0 0 25px;
}
h2,
h3,
h4,
h5,
h6 {
    padding: 10px 0 20px;
}
.page-header {
    margin: 0 0 15px;
    padding: 0;
    border-bottom: none!important;
}
.box,
.box_small {
    border: 1px solid #000;
    vertical-align: text-top;
    margin: 0;
}
.table {
    font-size: 12px;
}
.table tbody tr td:after,
.table tbody tr td:before {
    content: "";
    height: 4px;
    display: block;
}
.box {
    min-height: 50px;
    max-width: 75px;
    width: 50px;
}
.box_small {
    height: 15px;
    width: 15px;
}
.BOS-mat {
    border-collapse: collapse;
    margin: 0 0 10px;
}
.BOS-mat td {
    margin: 10px;
    padding: 10px;
    height: 330px;
    width: 300px;
    border: 4px solid #000;
    font-size: 1.3em;
    text-align: left;
    vertical-align: top;
}
.BOS-mat h1,
.BOS-mat h2,
.BOS-mat h3 {
    font-family: Arial,Helvetica,sans-serif;
    text-align: left;
}
.BOS-mat p {
    font-size: 14px;
    opacity: 1;
    filter:alpha(opacity=100);
}
.table_card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.table_card h1,
.table_card h2,
.table_card h3,
.table_card h4 {
    padding: 0;
    text-align: center;
}
.table_card h1 {
    font-size: 7em;
    margin: 0 0 40px;
}
.table_card h2 {
    font-style: italic;
    font-size: 3.25em;
    margin: 20px 0;
}
.table_card h3 {
    font-size: 2.0em;
    margin: 20px 0 40px;
}
.table_card h4 {
    font-size: 1.25em;
    margin: 20px 0 40px;
}
.table_card .dataTable {
    width: 100%;
    font-size: 12px;
    margin: 0.75em 0;
    border-collapse: collapse;
}
.table_card .dataTable th {
    display: none;
}
.table_card .dataTable td {
    text-align: left;
    padding: 10px 5px;
}
.table_card hr {
    border: 0;
    color: #000;
    background-color: #000;
    height: 1px;
    width: 100%;
    margin: 2.25em 0;
}
.avoidBreak {
    page-break-inside: avoid!important;
    margin: 4px 0;
}