@charset "UTF-8";
/* CSS Document */

/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Droid+Sans:400,100,300,700); */

/** ------------------------------------------ **/
/** Customized Bootstrap Classes for Theme     **/
/** ------------------------------------------ **/

@page  
{ 
    size: auto;   /* auto is the initial value */ 
	margin: -7mm 7mm 7mm 7mm;  
}

@media print {

  	a[href]:after {
    	content: none !important;
	  }
}

/**  Basic Page CSS **/
html {
	position: relative;
	min-height: 100%;
}
		
body {
  	/* 
	font-family: "Droid Sans", sans-serif;
	font-weight: 300;
	font-size: 14px;
	 */
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	/* 
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	 */
	margin: 0;
}

h1 {
	padding: 0 0 25px 0;
}

h2, h2, h3, h4, h5, h6 {
	padding: 10px 0 20px 0;
}

.page-header {
	margin: 0 0 15px 0;
	padding: 0;
	border-bottom: none !important;
}

.table {
	font-size: 12px;	
}

/** --------------------------------------------------- **/
/** Custom Classes for BCOEM                            **/
/** Custom Colors Based on Google Materials             **/
/**	https://www.google.com/design/spec/style/color.html **/
/** --------------------------------------------------- **/

.box {
	border: 1px solid #000;
	min-height: 50px;
	vertical-align: text-top;
	margin: 0;
	max-width: 75px;
	width: 50px;
}

.box_small {
	border: 1px solid #000;
	height: 20px;
	width: 20px;
	vertical-align: text-top;
	margin: 0;
}

.BOS-mat {
	border-collapse:collapse;
	margin: 0 0 10px 0;
}

.BOS-mat td {
	margin: 10px;
	padding: 10px;
	height: 300px;
	width: 300px;
	border: 4px solid #000;
	font-size: 1.3em;
	text-align: left;
	vertical-align: top;
}

.BOS-mat h1, 
.BOS-mat h2, 
.BOS-mat h3 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

.BOS-mat p {
	font-size: 14px;	
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.table_card {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.table_card h1,
.table_card h2,
.table_card h3,
.table_card h4 {
	padding: 0;
	text-align: center;
}

.table_card h1 {
	font-size: 7em;
	margin: 0px 0 40px 0;
}

.table_card h2 {
	font-style: italic;
	font-size: 4em;
	margin: 20px 0 20px 0;
}

.table_card h3 {
	font-size: 2.5em;
	margin: 20px 0 40px 0;
}

.table_card h4 {
	font-size: 1.75em;
	margin: 20px 0 40px 0;
}

.table_card .dataTable {
	width: 100%;
	font-size: 14px;
	margin: 1em 0;
	border-collapse: collapse;
}

.table_card .dataTable th {
	display: none;
}

.table_card .dataTable td {
	text-align: left;
	padding: 10px 5px;
}

.table_card hr {
	border: 0;
	color: #000000;
	background-color: #000000;
	height: 1px;
	width: 100%;
	margin: 2.25em 0 2.25em 0;
}