body 						{ background-color: #ffffff; color: #000000; font-family: Arial; font-size: 12px; word-spacing: 0.008em; line-height:normal; margin: 15px; }

h1							{ font-size: 1.8em; }

h2							{ font-size: 1.5em; }

table						{ border-collapse: collapse; width: 100%; border-spacing: 5px; }

table td					{ padding: 2px; }

table th					{ padding: 2px; text-align: left; font-weight: bold; border-bottom: 1px solid #000000; }

.headerTitle 				{ font-size: 2em; font-weight: bold; margin: 0; padding: 0; }

.headerTitleSm 				{ font-size: 1.1em; font-weight: bold; margin: 0; padding: 0 0 4px 0; }

.headerTitleSm h1			{ font-size: 1.2em; font-weight: bold; font-style: italic; margin: 0; padding: 0 0 4px 0; }

.bottle, .medium 			{ font-size: .9em; } 

.small 						{ font-size: .7em; margin: 0; } 

#printContainer 			{ width: 100%; }

.bdr1_thick	 				{ border: 3px dashed #000000; }

.bdr1B_thick	 			{ border-bottom: 3px dashed #000000; }

.bdr1B_thick_dotted 		{ border-bottom: 3px dotted #000000; }

.bdr1B 						{ border-bottom: 1px solid #000000; }

.bdr1L 						{ border-left: 1px solid #000000; }

.bdr1R 						{ border-right: 1px solid #000000; } 

.bdr1T 						{ border-top: 1px solid #000000; }

.bdr1R_dashed				{ border-right: 1px dashed #000000; }

.bdr1B_dashed				{ border-bottom: 1px dashed #000000; }

.headerItalic 		    	{ font-size: 8px; font-style: italic; }

table.small	td				{ padding: 1px 2px 1px 3px; }

table.bottleLabel			{ border-collapse: collapse; width: 600px; vertical-align:top; }

table.bottleLabel-inner		{ margin: 5px; width: 280px; padding: 2px; border-spacing: 5px; }

table.bottleLabel-inner	td 	{ padding: 2px; text-align: left; vertical-align: top; border-spacing: 5px; }

.box						{ border: 1px solid #bbb; width: 100%; height: 85px; vertical-align: middle; background-color: #eee; padding-top: 30px; font-style: italic; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }