sftp-config.json
site/config.reset.php
site/config.php
site/config-brewcomp-reset.php
lang/es/*
js_source/*
js_unused/*
libraries/*
sso/*
.sftp-upload-on-change.json
.github/*
includes/brewerydb/*
js_includes/autosave.js
*.zip
*.sublime-project
*.sublime-workspace
*.db
update/char_set_update.php
update/move_files.php
.vscode/
site/config.php
site/config.php
lib/hosted.lib.php