sftp-config.json
site/config.reset.php
site/config-brewcomp-reset.php
js_source/*
js_unused/*
libraries/*
sso/*
.sftp-upload-on-change.json
.github/*
includes/brewerydb/*
js_includes/autosave.js
*.zip
*.sublime-project
*.sublime-workspace
*.db
update/char_set_update.php
update/move_files.php
.vscode/
lib/hosted.lib.php
ajax/autosave.ajax.php
css/anomalus.css
ajax/email.ajax.php
ajax/emails.ajax.php
templates/barcode-entry.html
templates/simple-metric-entry-barcode.html
templates/simple-metric-entry.html
templates/simple-us-entry-barcode.html
templates/simple-us-entry.html
brewingcompetitions.com
