parameters:
	ignoreErrors:
		-
			message: "#^Instantiated class Markdownify\\\\Converter not found\\.$#"
			count: 10
			path: admin/competition_info.admin.php

		-
			message: "#^Call to sprintf contains 2 placeholders, 3 values given\\.$#"
			count: 1
			path: admin/entries_by_substyle.admin.php

		-
			message: "#^Caught class PHPMailer\\\\PHPMailer\\\\Exception not found\\.$#"
			count: 1
			path: admin/send_test_email.admin.php

		-
			message: "#^Instantiated class PHPMailer\\\\PHPMailer\\\\PHPMailer not found\\.$#"
			count: 1
			path: admin/send_test_email.admin.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: admin/upload.admin.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: admin/upload_scoresheets.admin.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: ajax/account_checks.ajax.php

		-
			message: "#^Function is_email not found\\.$#"
			count: 3
			path: ajax/account_checks.ajax.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: ajax/account_checks.ajax.php

		-
			message: "#^Instantiated class PHPMailer\\\\PHPMailer\\\\PHPMailer not found\\.$#"
			count: 1
			path: ajax/account_checks.ajax.php

		-
			message: "#^Instantiated class PasswordHash not found\\.$#"
			count: 1
			path: ajax/account_checks.ajax.php

		-
			message: "#^Instantiated class PasswordHash not found\\.$#"
			count: 2
			path: ajax/practice_session.ajax.php

		-
			message: "#^Function is_email not found\\.$#"
			count: 1
			path: ajax/valid_email.ajax.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: eval/process.eval.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: eval/process.eval.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: eval/scoresheet_output.eval.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: handle.php

		-
			message: "#^Function showerror not found\\.$#"
			count: 1
			path: includes/authentication_nav.inc.php

		-
			message: "#^Call to sprintf contains 1 placeholder, 2 values given\\.$#"
			count: 1
			path: includes/constants.inc.php

		-
			message: "#^Array has 2 duplicate keys with value 12 \\(\"12\", \"12\"\\)\\.$#"
			count: 1
			path: includes/constants_post_lang.inc.php

		-
			message: "#^Call to sprintf contains 1 placeholder, 2 values given\\.$#"
			count: 1
			path: includes/db/admin_judging_tables.db.php

		-
			message: "#^Call to sprintf contains 1 placeholder, 2 values given\\.$#"
			count: 5
			path: includes/db/entries.db.php

		-
			message: "#^Function mysql_error not found\\.$#"
			count: 1
			path: includes/db/nhc_regions.db.php

		-
			message: "#^Function mysql_fetch_assoc not found\\.$#"
			count: 1
			path: includes/db/nhc_regions.db.php

		-
			message: "#^Function mysql_num_rows not found\\.$#"
			count: 1
			path: includes/db/nhc_regions.db.php

		-
			message: "#^Function mysql_query not found\\.$#"
			count: 1
			path: includes/db/nhc_regions.db.php

		-
			message: "#^Array has 2 duplicate keys with value 'C1\\-D' \\(\"C1\\-D\", \"C1\\-D\"\\)\\.$#"
			count: 1
			path: includes/db/styles_special.db.php

		-
			message: "#^Call to sprintf contains 1 placeholder, 2 values given\\.$#"
			count: 2
			path: includes/db/styles_special.db.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: includes/db/styles_special.db.php

		-
			message: "#^Call to sprintf contains 1 placeholder, 2 values given\\.$#"
			count: 3
			path: includes/headers.inc.php

		-
			message: "#^Call to sprintf contains 1 placeholder, 2 values given\\.$#"
			count: 1
			path: includes/logincheck.inc.php

		-
			message: "#^Instantiated class PasswordHash not found\\.$#"
			count: 1
			path: includes/logincheck.inc.php

		-
			message: "#^Call to sprintf contains 1 placeholder, 2 values given\\.$#"
			count: 1
			path: includes/process.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_archive.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_archive.inc.php

		-
			message: "#^Instantiated class InputBeerXML not found\\.$#"
			count: 1
			path: includes/process/process_beerxml.inc.php

		-
			message: "#^Call to sprintf contains 1 placeholder, 2 values given\\.$#"
			count: 2
			path: includes/process/process_brewer.inc.php

		-
			message: "#^Instantiated class PHPMailer\\\\PHPMailer\\\\PHPMailer not found\\.$#"
			count: 1
			path: includes/process/process_brewer.inc.php

		-
			message: "#^Instantiated class PasswordHash not found\\.$#"
			count: 1
			path: includes/process/process_brewer.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_brewer_info.inc.php

		-
			message: "#^Instantiated class FullNameParser not found\\.$#"
			count: 1
			path: includes/process/process_brewer_info.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_brewer_info.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_brewing.inc.php

		-
			message: "#^Instantiated class FullNameParser not found\\.$#"
			count: 1
			path: includes/process/process_brewing.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_brewing.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_comp_info.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_comp_info.inc.php

		-
			message: "#^Instantiated class PasswordHash not found\\.$#"
			count: 2
			path: includes/process/process_comp_info.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_contacts.inc.php

		-
			message: "#^Function is_email not found\\.$#"
			count: 1
			path: includes/process/process_contacts.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_contacts.inc.php

		-
			message: "#^Instantiated class PHPMailer\\\\PHPMailer\\\\PHPMailer not found\\.$#"
			count: 1
			path: includes/process/process_contacts.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_drop_off.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_drop_off.inc.php

		-
			message: "#^Instantiated class PHPMailer\\\\PHPMailer\\\\PHPMailer not found\\.$#"
			count: 2
			path: includes/process/process_email.inc.php

		-
			message: "#^Instantiated class PasswordHash not found\\.$#"
			count: 2
			path: includes/process/process_forgot_password.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_judging_locations.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_judging_locations.inc.php

		-
			message: "#^Instantiated class PHPMailer\\\\PHPMailer\\\\PHPMailer not found\\.$#"
			count: 1
			path: includes/process/process_judging_preferences.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_judging_tables.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_judging_tables.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_mods.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_mods.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_prefs.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_prefs.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_special_best.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_special_best.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_special_best_info.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_special_best_info.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_sponsors.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_sponsors.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_style_types.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_style_types.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_styles.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_styles.inc.php

		-
			message: "#^Instantiated class PasswordHash not found\\.$#"
			count: 4
			path: includes/process/process_users.inc.php

		-
			message: "#^Instantiated class PHPMailer\\\\PHPMailer\\\\PHPMailer not found\\.$#"
			count: 1
			path: includes/process/process_users_register.inc.php

		-
			message: "#^Instantiated class PasswordHash not found\\.$#"
			count: 3
			path: includes/process/process_users_register.inc.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: includes/process/process_users_setup.inc.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: includes/process/process_users_setup.inc.php

		-
			message: "#^Instantiated class PasswordHash not found\\.$#"
			count: 2
			path: includes/process/process_users_setup.inc.php

		-
			message: "#^Instantiated class Parsedown not found\\.$#"
			count: 1
			path: index.legacy.php

		-
			message: "#^Instantiated class Parsedown not found\\.$#"
			count: 1
			path: index.pub.php

		-
			message: "#^Array has 2 duplicate keys with value 'Ä' \\('Ä', 'Ä'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'Å' \\('Å', 'Å'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'Æ' \\('Æ', 'Æ'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'Ö' \\('Ö', 'Ö'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'Ø' \\('Ø', 'Ø'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'Ü' \\('Ü', 'Ü'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'ß' \\('ß', 'ß'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'ä' \\('ä', 'ä'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'å' \\('å', 'å'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'æ' \\('æ', 'æ'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'ö' \\('ö', 'ö'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'ø' \\('ø', 'ø'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'ü' \\('ü', 'ü'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'Đ' \\('Đ', 'Đ'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Array has 2 duplicate keys with value 'đ' \\('đ', 'đ'\\)\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Call to sprintf contains 1 placeholder, 2 values given\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Deprecated in PHP 8\\.0\\: Required parameter \\$base_url follows optional parameter \\$id\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Deprecated in PHP 8\\.0\\: Required parameter \\$dbTable follows optional parameter \\$method\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Deprecated in PHP 8\\.0\\: Required parameter \\$sef follows optional parameter \\$id\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Function each not found\\.$#"
			count: 1
			path: lib/common.lib.php

		-
			message: "#^Instantiated class MysqliDb not found\\.$#"
			count: 3
			path: lib/common.lib.php

		-
			message: "#^Caught class PHPMailer\\\\PHPMailer\\\\Exception not found\\.$#"
			count: 1
			path: lib/email.lib.php

		-
			message: "#^Function eregi not found\\.$#"
			count: 5
			path: lib/output.lib.php

		-
			message: "#^Instantiated class MysqliDb not found\\.$#"
			count: 2
			path: lib/process.lib.php

		-
			message: "#^Instantiated class qRClas not found\\.$#"
			count: 1
			path: output/bottle_label.output.php

		-
			message: "#^Instantiated class easyTable not found\\.$#"
			count: 29
			path: output/export.output.php

		-
			message: "#^Instantiated class exFPDF not found\\.$#"
			count: 2
			path: output/export.output.php

		-
			message: "#^Instantiated class PDF_Label not found\\.$#"
			count: 25
			path: output/labels.output.php

		-
			message: "#^Function spritf not found\\.$#"
			count: 1
			path: output/styles.output.php

		-
			message: "#^Instantiated class MysqliDb not found\\.$#"
			count: 1
			path: paths.php

		-
			message: "#^Instantiated class PHPMailer\\\\PHPMailer\\\\PHPMailer not found\\.$#"
			count: 2
			path: ppv.php

		-
			message: "#^Instantiated class PaypalIPN not found\\.$#"
			count: 1
			path: ppv.php

		-
			message: "#^Call to sprintf contains 2 placeholders, 3 values given\\.$#"
			count: 1
			path: pub/at-a-glance.pub.php

		-
			message: "#^Call to sprintf contains 4 placeholders, 6 values given\\.$#"
			count: 1
			path: pub/default.pub.php

		-
			message: "#^Call to static method instance\\(\\) on an unknown class Parsedown\\.$#"
			count: 6
			path: pub/entry_info.pub.php

		-
			message: "#^Call to static method instance\\(\\) on an unknown class Parsedown\\.$#"
			count: 1
			path: pub/reg_closed.pub.php

		-
			message: "#^Call to static method instance\\(\\) on an unknown class Parsedown\\.$#"
			count: 2
			path: pub/reg_open.pub.php

		-
			message: "#^Call to sprintf contains 1 placeholder, 3 values given\\.$#"
			count: 1
			path: pub/volunteers.pub.php

		-
			message: "#^Call to static method instance\\(\\) on an unknown class Parsedown\\.$#"
			count: 1
			path: pub/volunteers.pub.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: pub/volunteers.pub.php

		-
			message: "#^Call to sprintf contains 0 placeholders, 1 value given\\.$#"
			count: 1
			path: pub/winners.pub.php

		-
			message: "#^Call to sprintf contains 0 placeholders, 1 value given\\.$#"
			count: 1
			path: pub/winners_category.pub.php

		-
			message: "#^Call to sprintf contains 0 placeholders, 1 value given\\.$#"
			count: 1
			path: pub/winners_subcategory.pub.php

		-
			message: "#^Instantiated class PasswordHash not found\\.$#"
			count: 1
			path: qr.php

		-
			message: "#^Call to sprintf contains 4 placeholders, 6 values given\\.$#"
			count: 1
			path: sections/default.sec.php

		-
			message: "#^Call to static method instance\\(\\) on an unknown class Parsedown\\.$#"
			count: 6
			path: sections/entry_info.sec.php

		-
			message: "#^Call to static method instance\\(\\) on an unknown class Parsedown\\.$#"
			count: 1
			path: sections/reg_closed.sec.php

		-
			message: "#^Call to static method instance\\(\\) on an unknown class Parsedown\\.$#"
			count: 2
			path: sections/reg_open.sec.php

		-
			message: "#^Call to sprintf contains 1 placeholder, 3 values given\\.$#"
			count: 1
			path: sections/volunteers.sec.php

		-
			message: "#^Call to static method instance\\(\\) on an unknown class Parsedown\\.$#"
			count: 1
			path: sections/volunteers.sec.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: sections/volunteers.sec.php

		-
			message: "#^Call to sprintf contains 0 placeholders, 1 value given\\.$#"
			count: 1
			path: sections/winners.sec.php

		-
			message: "#^Call to sprintf contains 0 placeholders, 1 value given\\.$#"
			count: 1
			path: sections/winners_category.sec.php

		-
			message: "#^Call to sprintf contains 0 placeholders, 1 value given\\.$#"
			count: 1
			path: sections/winners_subcategory.sec.php

		-
			message: "#^Instantiated class Parsedown not found\\.$#"
			count: 1
			path: setup.php

		-
			message: "#^Instantiated class PasswordHash not found\\.$#"
			count: 1
			path: update/1.3.0.0_update.php

		-
			message: "#^Call to static method createDefault\\(\\) on an unknown class HTMLPurifier_Config\\.$#"
			count: 1
			path: update/run_update.php

		-
			message: "#^Instantiated class FullNameParser not found\\.$#"
			count: 1
			path: update/run_update.php

		-
			message: "#^Instantiated class HTMLPurifier not found\\.$#"
			count: 1
			path: update/run_update.php

		-
			message: "#^Instantiated class PasswordHash not found\\.$#"
			count: 1
			path: update/run_update.php

		-
			message: "#^Array has 2 duplicate keys with value 'brewStyleLink' \\('brewStyleLink', 'brewStyleLink'\\)\\.$#"
			count: 122
			path: update/styles_aabc_update.php

		-
			message: "#^Array has 2 duplicate keys with value 'brewStyleLink' \\('brewStyleLink', 'brewStyleLink'\\)\\.$#"
			count: 6
			path: update/styles_ba_2020_update.php

		-
			message: "#^Array has 2 duplicate keys with value 'brewStyleLink' \\('brewStyleLink', 'brewStyleLink'\\)\\.$#"
			count: 180
			path: update/styles_ba_update.php
