#No indexing
IndexIgnore *

# Make sure index.php is the default page
DirectoryIndex index.php

RewriteEngine on
# If storing your installation in a sub-folder, uncomment the following line and replace [subfolder] with the name of your subfolder
# RewriteBase /[subfolder] 
RewriteRule ^$ index.php [L]
RewriteRule ^([A-Za-z0-9-]+)?$ index.php?section=$1 [L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$ index.php?section=$1&go=$2 [L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$ index.php?section=$1&go=$2&action=$3 [L]

# Custom error pages
ErrorDocument 404     /404.php
ErrorDocument 401     /401.php 
ErrorDocument 403     /403.php 
ErrorDocument 404     /404.php 
ErrorDocument 500     /500.html


RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://aha.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aha.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bcf.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bcf.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beerandsweat.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beerandsweat.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beerforboobs.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beerforboobs.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bigbeers.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bigbeers.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blackandtan.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blackandtan.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bloatopen.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bloatopen.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bluffcitybrewers.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bluffcitybrewers.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bob.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bob.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bockfest.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bockfest.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://brewoff.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://brewoff.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://camrabc.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://camrabc.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cqbo.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cqbo.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://csb.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://csb.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://csfcraftbrewing.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://csfcraftbrewing.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://csfhomebrew.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://csfhomebrew.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://eightsecondsoffroth.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://eightsecondsoffroth.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gnarlybarley.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gnarlybarley.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://greatnorthernbrewhaha.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://greatnorthernbrewhaha.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hvhb.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hvhb.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://inquisition.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://inquisition.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mcaf.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mcaf.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mdmicrobrewfest.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mdmicrobrewfest.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mnstatefair.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mnstatefair.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nhc.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nhc.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://northshorewinebeerfest.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://northshorewinebeerfest.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://obkhomebrewcompetitionca.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://obkhomebrewcompetitionca.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://obw.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://obw.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://oregonstatefair.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://oregonstatefair.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://oshc.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://oshc.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://peaktopeak.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://peaktopeak.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://piedmontbrewerscup.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://piedmontbrewerscup.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rendezbrew.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rendezbrew.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sofb.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sofb.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://stapletonhbc.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://stapletonhbc.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thebrewhut.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thebrewhut.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thirstyorangebrewoff.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thirstyorangebrewoff.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tvh.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tvh.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aha.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aha.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bcf.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bcf.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beerandsweat.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beerandsweat.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beerforboobs.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beerforboobs.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bigbeers.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bigbeers.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blackandtan.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blackandtan.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bloatopen.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bloatopen.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bluffcitybrewers.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bluffcitybrewers.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bob.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bob.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bockfest.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bockfest.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.brewoff.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.brewoff.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.camrabc.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.camrabc.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cqbo.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cqbo.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.csb.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.csb.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.csfcraftbrewing.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.csfcraftbrewing.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.csfhomebrew.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.csfhomebrew.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.eightsecondsoffroth.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.eightsecondsoffroth.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gnarlybarley.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gnarlybarley.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.greatnorthernbrewhaha.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.greatnorthernbrewhaha.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hvhb.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hvhb.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.inquisition.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.inquisition.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mcaf.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mcaf.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mdmicrobrewfest.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mdmicrobrewfest.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mnstatefair.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mnstatefair.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nhc.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nhc.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.northshorewinebeerfest.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.northshorewinebeerfest.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.obkhomebrewcompetitionca.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.obkhomebrewcompetitionca.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.obw.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.obw.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.oregonstatefair.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.oregonstatefair.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.oshc.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.oshc.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.peaktopeak.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.peaktopeak.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.piedmontbrewerscup.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.piedmontbrewerscup.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rendezbrew.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rendezbrew.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sofb.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sofb.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.stapletonhbc.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.stapletonhbc.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thebrewhut.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thebrewhut.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thirstyorangebrewoff.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thirstyorangebrewoff.brewcomp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tvh.brewcomp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tvh.brewcomp.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

