#No indexing
IndexIgnore *

# Make sure index.php is the default page
DirectoryIndex index.php

# Custom error pages
ErrorDocument 404     /404.php
ErrorDocument 401     /401.php 
ErrorDocument 403     /403.php 
ErrorDocument 404     /404.php 
ErrorDocument 500     /500.php
