#No indexing
IndexIgnore *

# Make sure index.php is the default page
DirectoryIndex index.php

RewriteEngine on
RewriteRule ^$ index.php [L]
RewriteRule ^([A-Za-z0-9-]+)?$ index.php?section=$1 [L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$ index.php?section=$1&go=$2 [L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$ index.php?section=$1&go=$2&action=$3 [L]

# Custom error pages
ErrorDocument 404     /404.php
ErrorDocument 401     /401.php 
ErrorDocument 403     /403.php 
ErrorDocument 404     /404.php 
ErrorDocument 500     /500.html

