<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>[onshow.brewing_info.brewName] Entry/Recipe Form with Barcode</title>
    <!-- Load Bootstrap and jQuery -->
    <!-- Homepage URLs: http://www.getbootsrap.com and https://jquery.com -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Load Font Awesome -->
    <!-- Homepage URL: https://fortawesome.github.io/Font-Awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/templates.min.css">
	<style>
		@import url(https://fonts.googleapis.com/css?family=Raleway:800|Open+Sans:400);
		body  {
			font-size: 12px;
			font-family: 'Open Sans', Arial;
			font-weight: 400;
		}

		h1 {
			font-size: 18px;
			font-family: 'Raleway', Arial;
			font-weight: 800;
			margin: 0 0 15px 0;
			padding: 0;
		}

		.text-label {
			font-weight: bold;
		}

		.box {
			margin: 12px 0;
		}

	</style>
</head>
<body>
<a name="labels_top" id="labelsOtop"></a>
<div id="printContainer">
<!-- div for non-print header -->
<div>
[onshow;block=div;when [var.action]!='print']
<table>
  <tr>
    <td><h3 class="text-danger">[onshow.bottle_labels_005]</h3></td>
    <td width="5%" align="right" nowrap="nowrap"><h3><span class="fa fa-print"></span> <a href="entry.output.php?action=print&amp;id=[onshow.id]&amp;bid=[onshow.bid]">[onshow.label_print]</a></h3></td>
  </tr>
</table>
</div> <!-- end non-print header-->
<a name="labels" id="labels"></a>
<div class="container-fluid">
  [onshow;block=div;when [var.action]='print']
  <p class="text-center">[onshow.bottle_labels_004]</p>
</div>
<table align="center" class="bottleLabel">
	<tr>
    	<td align="center" class="bdr1_thick">
     		<table class="bottle bottleLabel-inner">
      			<tr>
        			<td colspan="4"><div align="center"><h1>[onshow.contest_info.contestName]</h1>[onshow.bottle_labels_001]</div></td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_entry_number]:</span></td>
        			<td colspan="3">[onshow.brewing_id]&nbsp;&nbsp;&nbsp;<strong>[onshow.brewing_paid]</strong></td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_name]:</span></td>
        			<td colspan="3">[onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]</td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_phone]:</span></td>
        			<td colspan="3">[onshow.brewer_info.brewerPhone1]</td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_email]:</span></td>
        			<td colspan="3">[onshow.brewer_info.brewerEmail]</td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_style]:</span></td>
        			<td colspan="3">[onshow.brewing_info.brewCategory][onshow.brewing_info.brewSubCategory] [onshow.brewing_info.styleName]</td>
      			</tr>
      			<div>
      			[onshow;block=div;when [var.brewing_info.brewInfo]!='']
     			<tr>
          			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_required_info]:</span></td>
          			<td colspan="3">[onshow.brewing_info.brewInfo]</td>
      			</tr>
      			</div>
      			<div>
      			[onshow;block=div;when [var.brewing_info.sparkling]!='']
      			<tr>
          			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_mead_cider_info]:</span></td>
          			<td colspan="3">[onshow.brewing_info.sparkling], [onshow.brewing_info.sweetness], [onshow.brewing_info.meadType]</td>
      			</tr>
      			</div>
    		</table>
    	</td>
    	<td>&nbsp;</td>
   	 	<td align="center" class="bdr1_thick">

    		<table class="bottle bottleLabel-inner">
      			<tr>
        			<td colspan="4"><div align="center"><h1>[onshow.contest_info.contestName]</h1>[onshow.bottle_labels_001]</div></td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_entry_number]:</span></td>
        			<td colspan="3">[onshow.brewing_id]&nbsp;&nbsp;&nbsp;<strong>[onshow.brewing_paid]</strong></td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_name]:</span></td>
        			<td colspan="3">[onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]</td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_phone]:</span></td>
        			<td colspan="3">[onshow.brewer_info.brewerPhone1]</td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_email]:</span></td>
        			<td colspan="3">[onshow.brewer_info.brewerEmail]</td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_style]:</span></td>
        			<td colspan="3">[onshow.brewing_info.brewCategory][onshow.brewing_info.brewSubCategory] [onshow.brewing_info.styleName]</td>
      			</tr>
      			<div>
      			[onshow;block=div;when [var.brewing_info.brewInfo]!='']
     			<tr>
          			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_required_info]:</span></td>
          			<td colspan="3">[onshow.brewing_info.brewInfo]</td>
      			</tr>
      			</div>
      			<div>
      			[onshow;block=div;when [var.brewing_info.sparkling]!='']
      			<tr>
          			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_mead_cider_info]:</span></td>
          			<td colspan="3">[onshow.brewing_info.sparkling], [onshow.brewing_info.sweetness], [onshow.brewing_info.meadType]</td>
      			</tr>
      			</div>
    		</table>
    	</td>
  	</tr>
</table>
<table align="center" class="bottleLabel" style="margin-top: 15px;">
  <tr>
    <td align="center" class="bdr1_thick">
    	<table class="bottle bottleLabel-inner">
      			<tr>
        			<td colspan="4"><div align="center"><h1>[onshow.contest_info.contestName]</h1>[onshow.bottle_labels_001]</div></td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_entry_number]:</span></td>
        			<td colspan="3">[onshow.brewing_id]&nbsp;&nbsp;&nbsp;<strong>[onshow.brewing_paid]</strong></td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_name]:</span></td>
        			<td colspan="3">[onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]</td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_phone]:</span></td>
        			<td colspan="3">[onshow.brewer_info.brewerPhone1]</td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_email]:</span></td>
        			<td colspan="3">[onshow.brewer_info.brewerEmail]</td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_style]:</span></td>
        			<td colspan="3">[onshow.brewing_info.brewCategory][onshow.brewing_info.brewSubCategory] [onshow.brewing_info.styleName]</td>
      			</tr>
      			<div>
      			[onshow;block=div;when [var.brewing_info.brewInfo]!='']
     			<tr>
          			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_required_info]:</span></td>
          			<td colspan="3">[onshow.brewing_info.brewInfo]</td>
      			</tr>
      			</div>
      			<div>
      			[onshow;block=div;when [var.brewing_info.sparkling]!='']
      			<tr>
          			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_mead_cider_info]:</span></td>
          			<td colspan="3">[onshow.brewing_info.sparkling], [onshow.brewing_info.sweetness], [onshow.brewing_info.meadType]</td>
      			</tr>
      			</div>
    		</table>
    	</td>
    	<td>&nbsp;</td>
    	<td align="center" class="bdr1_thick">

        	<table class="bottle bottleLabel-inner">
      			<tr>
        			<td colspan="4"><div align="center"><h1>[onshow.contest_info.contestName]</h1>[onshow.bottle_labels_001]</div></td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_entry_number]:</span></td>
        			<td colspan="3">[onshow.brewing_id]&nbsp;&nbsp;&nbsp;<strong>[onshow.brewing_paid]</strong></td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_name]:</span></td>
        			<td colspan="3">[onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]</td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_phone]:</span></td>
        			<td colspan="3">[onshow.brewer_info.brewerPhone1]</td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_email]:</span></td>
        			<td colspan="3">[onshow.brewer_info.brewerEmail]</td>
      			</tr>
      			<tr>
        			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_style]:</span></td>
        			<td colspan="3">[onshow.brewing_info.brewCategory][onshow.brewing_info.brewSubCategory] [onshow.brewing_info.styleName]</td>
      			</tr>
      			<div>
      			[onshow;block=div;when [var.brewing_info.brewInfo]!='']
     			<tr>
          			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_required_info]:</span></td>
          			<td colspan="3">[onshow.brewing_info.brewInfo]</td>
      			</tr>
      			</div>
      			<div>
      			[onshow;block=div;when [var.brewing_info.sparkling]!='']
      			<tr>
          			<td nowrap="nowrap"><span class="text-label pull-right">[onshow.label_mead_cider_info]:</span></td>
          			<td colspan="3">[onshow.brewing_info.sparkling], [onshow.brewing_info.sweetness], [onshow.brewing_info.meadType]</td>
      			</tr>
      			</div>
    		</table>
        </td>
  </tr>
</table>
<div>
[onshow_c;block=div;when [var.action]!='print']
<table>
  <tr>
  	<td width="5%" align="right" nowrap="nowrap"><h3><span class="fa fa-print"></span> <a href="entry.output.php?action=print&amp;id=[onshow.id]&amp;bid=[onshow.bid]">[onshow.label_print]</a></h3></td>
  </tr>
</table>
</div> <!-- end non-print header -->
</div>
<div>
[onshow;block=div;when [var.action]=='print']
<script type="text/javascript">
function selfPrint(){
    self.focus();
    self.print();
}
setTimeout('selfPrint()',2000);
html.push('');
</script>
</div>
</body>
</html>