<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>[onshow.brewing_info.brewName] Recipe Form</title>
    <!-- Load Bootstrap and jQuery -->
    <!-- Homepage URLs: http://www.getbootsrap.com and https://jquery.com -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Load Font Awesome -->
    <!-- Homepage URL: https://fortawesome.github.io/Font-Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/templates.min.css">
</head>
<body>
<div id="printContainer">
<a name="labels_top" id="labels_top"></a>
<!-- div for non-print header -->
<div>
[onshow;block=div;when [var.action]!='print']
<table>
  <tr>
    <td><h4 class="text-danger">If any items are missing, close this window and edit the entry.</h4></td>
    <td width="5%" nowrap="nowrap"><h3><span class="fa fa-eye"></span> <a href="#labels">View Bottle Labels</a></h3></td>
    <td width="5%" nowrap="nowrap"><h3>&nbsp;&nbsp;&nbsp;<span class="fa fa-print"></span> <a href="entry.output.php?action=print&amp;id=[onshow.id]&amp;bid=[onshow.bid]">Print</a></h3></td>
  </tr>
</table>
</div> <!-- end non-print header-->
<h1>Entry Form, [onshow.contest_info.contestName]</h1>
<table border="0">
  <tr>
    <td width="50%">
    <h2>Brewer</h2>
    <ul>
     <li>Name(s): [onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]&nbsp;&nbsp;&nbsp;[onshow.brewing_info.brewCoBrewer]</li>
     <li>Address: [onshow.brewer_info.brewerAddress], [onshow.brewer_info.brewerCity], 
          [onshow.brewer_info.brewerState] [onshow.brewer_info.brewerZip],
         </li>
      <li>Phone: [onshow.brewer_info.brewerPhone1]</li>
      <div>
      [onshow;block=div;when [var.brewer_info.brewerClubs]!='']
       <li>Club: [onshow.brewer_info.brewerClubs]</li>
       </div>
    </ul>
    </td>
    <td>
    <h2>Style Entered</h2>
    <ul>
      <li>Style number: [onshow.brewing_info.brewCategory] [onshow.brewing_info.brewSubCategory]</li>
      <li>Style name: [onshow.brewing_info.styleName]</li>
      
      <!-- Better formatting and/or conditional display would greatly improve layout here -->
      <div>
      [onshow;block=div;when [var.brewing_info.brewInfo]!='']
      <li>Special ingredients/style: [onshow.brewing_info.brewInfo]</li>
      </div>
      <div>
      [onshow;block=div;when [var.brewing_info.sweetness]!='']
      <li>Mead/cider info: [onshow.brewing_info.sweetness] [onshow.brewing_info.meadType]</li>
      </div>
    </ul>
</td>
  </tr>
</table>
<div>
<h2>Recipe</h2>
[onshow;block=div;when [var.totalFermentables]!='0']
<h4>Grains and Fermentables</h4>
<table>
  <tr>
    <th>Amount</th>
    <th>Type</th>
  </tr>
  <tr>
    <td>[grains.weight.lb;block=tr] lb</td>
    <td>[grains.name]</td>
  </tr>
  <tr>
    <td>[adjuncts.weight.lb;block=tr] lb</td>
    <td>[adjuncts.name]</td>
  </tr>
  <tr>
    <td>[extracts.weight.lb;block=tr] lb</td>
    <td>[extracts.name]</td>
  </tr>
</table>
</div>
<div>
[onshow;block=div;when [var.totalHops]!='0']
<h4>Hops</h4>
<table>
  <tr>
    <th>Amount (oz)</th>
    <th>Type</th>
    <th>%&#945;</th>
    <th>Usage</th>
    <th>Minutes</th>
  </tr>
  <tr>
    <td>[hops.weight.oz;block=tr]</td>
    <td>[hops.name]</td>
    <td>[hops.alphaAcid]</td>
    <td>[hops.use]</td>
    <td>[hops.minutes]</td>
  </tr>
</table>
</div>
<div>
[onshow;block=div;when [var.brewing_info.brewYeast]!='']
<h4>Yeast</h4>
<p>[onshow.brewing_info.brewYeast] from [onshow.brewing_info.brewYeastMan]</p>
</div>
<div>
[onshow;block=div;when [var.brewing_info.brewOG]!='']
<h4>Processes</h4>
<ul>
  <li>OG: [onshow.brewing_info.brewOG;frm='0.000']</li>
  <li>FG: [onshow.brewing_info.brewFG;frm='0.000']</li>
</ul>
<div>
[onshow;block=div;when [var.brewing_info.brewPrimaryTemp]>0]
<p>Fermented at [onshow.brewing_info.brewPrimaryTemp.f]&deg;F for [onshow.brewing_info.brewPrimary]
days and [onshow.brewing_info.brewSecondaryTemp.f]&deg;F for [onshow.brewing_info.brewSecondary]
days.</p>
</div>
</div>
<div>
[onshow;block=div;when [var.totalMash]!='0']
<table>
  <tr>
    <th width="40%">Mash temperature</th>
    <th>Minutes</th>
  </tr>
  <tr>
    <td>[mashSteps.temp.f;block=tr]&deg;F</td>
    <td>[mashSteps.minutes]</td>
  </tr>
</table>
</div>
<div style="page-break-after:always;"></div>
<a name="labels" id="labels"></a>
<h1>Bottle Labels</h1>
<table align="center" class="bottleLabel">
  <tr>
    <td align="center">
    <table class="bdr1_thick bottle bottleLabel-inner">
      <tr>
        <td nowrap="nowrap">Competition:</td>
        <td colspan="3" class="bdr1B">[onshow.contest_info.contestName]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">Entry #</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_id]&nbsp;&nbsp;&nbsp;<strong>[onshow.brewing_paid]</strong> </td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Name</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]&nbsp;&nbsp;&nbsp;[onshow.brewing_info.brewCoBrewer]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Street Address</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerAddress]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">City</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerCity]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">State</td>
        <td class="bdr1B">[onshow.brewer_info.brewerState]</td>
        <td width="5%">Zip</td>
        <td width="50%" class="bdr1B">[onshow.brewer_info.brewerZip]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Phone Number</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerPhone1]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Email Address</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerEmail]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Name of Beer</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewName]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Category Entered</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewCategory]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Subcategory Entered</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewSubCategory]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">Homebrew Club</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerClubs]</td>
      </tr>
      <tr>
        <td colspan="4" nowrap="nowrap"><div align="center" style="margin-top: 10px;"><img src="[onshow.barcode_link]">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="[onshow.qrcode_link]"></div></td>
      </tr>
	  <tr>
       	<td colspan="4"><div align="center" class="box">Space Reserved for Competition Staff Use</div></td>
      </tr>
    </table>
    </td>
    <td align="center">
    <table class="bdr1_thick bottle bottleLabel-inner">
      <tr>
        <td nowrap="nowrap">Competition:</td>
        <td colspan="3" class="bdr1B">[onshow.contest_info.contestName]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">Entry #</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_id]&nbsp;&nbsp;&nbsp;<strong>[onshow.brewing_paid]</strong> </td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Name</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]&nbsp;&nbsp;&nbsp;[onshow.brewing_info.brewCoBrewer]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Street Address</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerAddress]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">City</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerCity]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">State</td>
        <td class="bdr1B">[onshow.brewer_info.brewerState]</td>
        <td width="5%">Zip</td>
        <td width="50%" class="bdr1B">[onshow.brewer_info.brewerZip]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Phone Number</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerPhone1]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Email Address</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerEmail]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Name of Beer</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewName]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Category Entered</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewCategory]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Subcategory Entered</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewSubCategory]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">Homebrew Club</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerClubs]</td>
      </tr>
      <tr>
        <td colspan="4" nowrap="nowrap"><div align="center" style="margin-top: 10px;"><img src="[onshow.barcode_link]">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="[onshow.qrcode_link]"></div></td>
      </tr>
	  <tr>
       	<td colspan="4"><div align="center" class="box">Space Reserved for Competition Staff Use</div></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center">
    <table class="bdr1_thick bottle bottleLabel-inner">
      <tr>
        <td nowrap="nowrap">Competition:</td>
        <td colspan="3" class="bdr1B">[onshow.contest_info.contestName]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">Entry #</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_id]&nbsp;&nbsp;&nbsp;<strong>[onshow.brewing_paid]</strong> </td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Name</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]&nbsp;&nbsp;&nbsp;[onshow.brewing_info.brewCoBrewer]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Street Address</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerAddress]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">City</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerCity]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">State</td>
        <td class="bdr1B">[onshow.brewer_info.brewerState]</td>
        <td width="5%">Zip</td>
        <td width="50%" class="bdr1B">[onshow.brewer_info.brewerZip]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Phone Number</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerPhone1]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Email Address</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerEmail]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Name of Beer</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewName]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Category Entered</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewCategory]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Subcategory Entered</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewSubCategory]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">Homebrew Club</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerClubs]</td>
      </tr>
      <tr>
        <td colspan="4" nowrap="nowrap"><div align="center" style="margin-top: 10px;"><img src="[onshow.barcode_link]">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="[onshow.qrcode_link]"></div></td>
      </tr>
	  <tr>
       	<td colspan="4"><div align="center" class="box">Space Reserved for Competition Staff Use</div></td>
      </tr>
    </table>
    </td>
    <td align="center">
      <table class="bdr1_thick bottle bottleLabel-inner">
      <tr>
        <td nowrap="nowrap">Competition:</td>
        <td colspan="3" class="bdr1B">[onshow.contest_info.contestName]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">Entry #</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_id]&nbsp;&nbsp;&nbsp;<strong>[onshow.brewing_paid]</strong> </td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Name</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]&nbsp;&nbsp;&nbsp;[onshow.brewing_info.brewCoBrewer]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Street Address</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerAddress]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">City</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerCity]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">State</td>
        <td class="bdr1B">[onshow.brewer_info.brewerState]</td>
        <td width="5%">Zip</td>
        <td width="50%" class="bdr1B">[onshow.brewer_info.brewerZip]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Phone Number</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerPhone1]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Email Address</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerEmail]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Name of Beer</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewName]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Category Entered</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewCategory]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">Subcategory Entered</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewSubCategory]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">Homebrew Club</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerClubs]</td>
      </tr>
      <tr>
        <td colspan="4" nowrap="nowrap"><div align="center" style="margin-top: 10px;"><img src="[onshow.barcode_link]">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="[onshow.qrcode_link]"></div></td>
      </tr>
	  <tr>
       	<td colspan="4"><div align="center" class="box">Space Reserved for Competition Staff Use</div></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<div>
[onshow_c;block=div;when [var.action]!='print']
<table>
  <tr>
  	<td width="5%" align="right" nowrap="nowrap"><h3><span class="fa fa-print"></span> <a href="entry.output.php?action=print&amp;id=[onshow.id]&amp;bid=[onshow.bid]">Print</a></h3></td>
  </tr>
</table>
</div> <!-- end non-print header -->
<div>
[onshow;block=div;when [var.action]=='print']
<script type="text/javascript">
function selfPrint(){
    self.focus();
    self.print();
}
setTimeout('selfPrint()',2000);
html.push(''); 
</script>
</div>
</div>
</body>
</html>