<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>[onshow.brewing_info.brewName] Recipe Form</title>
    <!-- Load Bootstrap and jQuery -->
    <!-- Homepage URLs: http://www.getbootsrap.com and https://jquery.com -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Load Font Awesome -->
    <!-- Homepage URL: https://fortawesome.github.io/Font-Awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/templates.min.css">

</head>
<body>
<div id="printContainer">
<a name="labels_top" id="labelsOtop"></a>
<!-- div for non-print header -->
<div>
[onshow;block=div;when [var.action]!='print']
<table>
  <tr>
    <td><h3 class="text-danger">[onshow.bottle_labels_005]</h3></td>
    <td width="5%" nowrap="nowrap"><h3><span class="fa fa-eye"></span> <a href="#labels">[onshow.label_view] [onshow.brewer_entries_text_009]</a></h3></td>
    <td width="5%" nowrap="nowrap"><h3>&nbsp;&nbsp;&nbsp;<span class="fa fa-print"></span> <a href="entry.output.php?action=print&amp;id=[onshow.id]&amp;bid=[onshow.bid]">[onshow.label_print]</a></h3></td>
  </tr>
</table>
</div> <!-- end non-print header-->
<h1>Entry Form, [onshow.contest_info.contestName]</h1>
<table border="0">
  <tr>
    <td width="50%">
    <h2>Brewer</h2>
    <ul>
      <li>[onshow.label_name]: [onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]&nbsp;&nbsp;&nbsp;[onshow.brewing_info.brewCoBrewer]</li>
      <li>[onshow.label_address]: [onshow.brewer_info.brewerAddress], [onshow.brewer_info.brewerCity],
           [onshow.brewer_info.brewerState] [onshow.brewer_info.brewerZip],
        </li>
       <li>[onshow.label_phone]: [onshow.brewer_info.brewerPhone1]</li>
       <div>
      [onshow;block=div;when [var.brewer_info.brewerClubs]!='']
       <li>[onshow.label_club] [onshow.brewer_info.brewerClubs]</li>
       </div>
    </ul>
    </td>
    <td>
    <h2>[onshow.label_style]</h2>
    <ul>
      <li>[onshow.label_style] [onshow.label_number] [onshow.brewing_info.brewCategory] [onshow.brewing_info.brewSubCategory]</li>
      <li>[onshow.label_style] [onshow.label_name] [onshow.brewing_info.styleName]</li>

      <!-- Better formatting and/or conditional display would greatly improve layout here -->
      <div>
      [onshow;block=div;when [var.brewing_info.brewInfo]!='']
      <li>Required info: [onshow.brewing_info.brewInfo]</li>
      </div>
      <div>
      [onshow;block=div;when [var.brewing_info.sweetness]!='']
      <li>[onshow.label_mead_cider_info]: [onshow.brewing_info.sweetness] [onshow.brewing_info.meadType]</li>
      </div>
    </ul>
</td>
  </tr>
</table>
<div>
<h2>[onshow.label_recipe]</h2>
[onshow;block=div;when [var.totalFermentables]!='0']
<h3>[onshow.label_fermentables]</h3>
<table>
  <tr>
    <th width="15%" nowrap="nowrap">[onshow.label_amount]</th>
    <th>[onshow.label_type]</th>
  </tr>
  <tr>
    <td width="10%" nowrap="nowrap">[grains.weight.kg;block=tr] kg</td>
    <td>[grains.name]</td>
  </tr>
  <tr>
    <td width="10%" nowrap="nowrap">[adjuncts.weight.kg;block=tr] kg</td>
    <td>[adjuncts.name]</td>
  </tr>
  <tr>
    <td width="10%" nowrap="nowrap">[extracts.weight.kg;block=tr] kg</td>
    <td>[extracts.name]</td>
  </tr>
</table>
</div>
<div>
[onshow;block=div;when [var.totalHops]!='0']
<h3>[onshow.label_hops]</h3>
<table>
  <tr>
    <th width="10%" nowrap="nowrap">[onshow.label_amount] (g)</th>
    <th width="15%">[onshow.label_type]</th>
    <th width="5%" nowrap="nowrap">%&#945;</th>
    <th width="15%">[onshow.label_use]</th>
    <th>[onshow.label_minutes]</th>
  </tr>
  <tr>
    <td>[hops.weight.g;block=tr]</td>
    <td width="15%">[hops.name]</td>
    <td width="5%" nowrap="nowrap">[hops.alphaAcid]</td>
    <td width="15%">[hops.use]</td>
    <td>[hops.minutes]</td>
  </tr>
</table>
</div>
<div>
[onshow;block=div;when [var.brewing_info.brewYeast]!='']
<h3>[onshow.label_yeast]</h3>
<p>[onshow.brewing_info.brewYeast] from [onshow.brewing_info.brewYeastMan]</p>
</div>
<div>
[onshow;block=div;when [var.brewing_info.brewOG]!='']
<h3>Processes</h3>
<ul>
  <li>OG: [onshow.brewing_info.brewOG;frm='0.000']</li>
  <li>FG: [onshow.brewing_info.brewFG;frm='0.000']</li>
</ul>
<div>
[onshow;block=div;when [var.brewing_info.brewPrimaryTemp]>0]
<p>
[onshow.brewing_info.brewPrimaryTemp.c]&deg;C - [onshow.brewing_info.brewPrimary] [onshow.label_days]<br>
[onshow.brewing_info.brewSecondaryTemp.c]&deg;C - [onshow.brewing_info.brewSecondary] [onshow.label_days]
</p>
</div>
</div>
<div>
[onshow;block=div;when [var.totalMash]!='0']
<table>
  <tr>
    <th width="15%" nowrap="nowrap">[onshow.label_mash] [onshow.label_temperature]</th>
    <th>[onshow.label_minutes]</th>
  </tr>
  <tr>
    <td width="5%" nowrap="nowrap">[mashSteps.temp.c;block=tr]&deg;F</td>
    <td>[mashSteps.minutes]</td>
  </tr>
</table>
</div>
<div style="page-break-after:always;"></div>
<a name="labels" id="labels"></a>
<div class="container-fluid">
  [onshow;block=div;when [var.action]='print']
  <p class="text-center">[onshow.bottle_labels_004]</p>
</div>
<h1>[onshow.brewer_entries_text_009]</h1>
<table align="center" class="bottleLabel">
  <tr>
    <td align="center">
    <table class="bdr1_thick bottle bottleLabel-inner">
      <tr>
        <td colspan="4"><div align="center" class="headerTitleSm">[onshow.bottle_labels_001]</div></td>
      </tr>
      <tr>
        <td nowrap="nowrap">[onshow.label_comp]:</td>
        <td colspan="3" class="bdr1B">[onshow.contest_info.contestName]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">[onshow.label_entry_number]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_id]&nbsp;&nbsp;&nbsp;<strong>[onshow.brewing_paid]</strong> </td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_name]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]&nbsp;&nbsp;&nbsp;[onshow.brewing_info.brewCoBrewer]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_address]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerAddress]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_city]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerCity]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_state_province]:</td>
        <td class="bdr1B">[onshow.brewer_info.brewerState]</td>
        <td width="5%" nowrap="nowrap">[onshow.label_zip]:</td>
        <td width="50%" class="bdr1B">[onshow.brewer_info.brewerZip]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_phone]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerPhone1]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_email]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerEmail]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_entry_name]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewName]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_category]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewCategory]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_subcategory]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewSubCategory]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">[onshow.label_club]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerClubs]</td>
      </tr>
    </table>
    </td>
    <td align="center">
    <table class="bdr1_thick bottle bottleLabel-inner">
      <tr>
        <td colspan="4"><div align="center" class="headerTitleSm">[onshow.bottle_labels_001]</div></td>
      </tr>
      <tr>
        <td nowrap="nowrap">[onshow.label_comp]:</td>
        <td colspan="3" class="bdr1B">[onshow.contest_info.contestName]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">[onshow.label_entry_number]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_id]&nbsp;&nbsp;&nbsp;<strong>[onshow.brewing_paid]</strong> </td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_name]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]&nbsp;&nbsp;&nbsp;[onshow.brewing_info.brewCoBrewer]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_address]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerAddress]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_city]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerCity]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_state_province]:</td>
        <td class="bdr1B">[onshow.brewer_info.brewerState]</td>
        <td width="5%" nowrap="nowrap">[onshow.label_zip]:</td>
        <td width="50%" class="bdr1B">[onshow.brewer_info.brewerZip]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_phone]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerPhone1]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_email]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerEmail]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_entry_name]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewName]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_category]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewCategory]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_subcategory]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewSubCategory]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">[onshow.label_club]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerClubs]</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td align="center">
    <table class="bdr1_thick bottle bottleLabel-inner">
      <tr>
        <td colspan="4"><div align="center" class="headerTitleSm">[onshow.bottle_labels_001]</div></td>
      </tr>
      <tr>
        <td nowrap="nowrap">[onshow.label_comp]:</td>
        <td colspan="3" class="bdr1B">[onshow.contest_info.contestName]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">[onshow.label_entry_number]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_id]&nbsp;&nbsp;&nbsp;<strong>[onshow.brewing_paid]</strong> </td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_name]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]&nbsp;&nbsp;&nbsp;[onshow.brewing_info.brewCoBrewer]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_address]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerAddress]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_city]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerCity]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_state_province]:</td>
        <td class="bdr1B">[onshow.brewer_info.brewerState]</td>
        <td width="5%" nowrap="nowrap">[onshow.label_zip]:</td>
        <td width="50%" class="bdr1B">[onshow.brewer_info.brewerZip]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_phone]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerPhone1]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_email]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerEmail]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_entry_name]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewName]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_category]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewCategory]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_subcategory]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewSubCategory]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">[onshow.label_club]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerClubs]</td>
      </tr>
    </table>
    </td>
    <td align="center">
      <table class="bdr1_thick bottle bottleLabel-inner">
      <tr>
        <td colspan="4"><div align="center" class="headerTitleSm">[onshow.bottle_labels_001]</div></td>
      </tr>
      <tr>
        <td nowrap="nowrap">[onshow.label_comp]:</td>
        <td colspan="3" class="bdr1B">[onshow.contest_info.contestName]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">[onshow.label_entry_number]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_id]&nbsp;&nbsp;&nbsp;<strong>[onshow.brewing_paid]</strong> </td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_name]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerFirstName] [onshow.brewer_info.brewerLastName]&nbsp;&nbsp;&nbsp;[onshow.brewing_info.brewCoBrewer]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_address]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerAddress]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_city]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerCity]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_state_province]:</td>
        <td class="bdr1B">[onshow.brewer_info.brewerState]</td>
        <td width="5%" nowrap="nowrap">[onshow.label_zip]:</td>
        <td width="50%" class="bdr1B">[onshow.brewer_info.brewerZip]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_phone]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerPhone1]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_email]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerEmail]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_entry_name]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewName]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_category]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewCategory]</td>
      </tr>
      <tr>
        <td width="5%" nowrap="nowrap">[onshow.label_subcategory]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewing_info.brewSubCategory]</td>
      </tr>
      <tr>
        <td nowrap="nowrap">[onshow.label_club]:</td>
        <td colspan="3" class="bdr1B">[onshow.brewer_info.brewerClubs]</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<div>
[onshow_c;block=div;when [var.action]!='print']
<table>
  <tr>
  	<td width="5%" align="right" nowrap="nowrap"><h3><span class="fa fa-print"></span> <a href="entry.output.php?action=print&amp;id=[onshow.id]&amp;bid=[onshow.bid]">[onshow.label_print]</a></h3></td>
  </tr>
</table>
</div> <!-- end non-print header -->
<div>
[onshow;block=div;when [var.action]=='print']
<script type="text/javascript">
function selfPrint(){
    self.focus();
    self.print();
}
setTimeout('selfPrint()',2000);
html.push('');
</script>
</div>
</div>
</body>
</html>