@charset "utf-8";
/* CSS Document */

@import url("html_elements.css");
@import url("menus.css");
@import url("sorting.css");
@import url("thickbox.css");
@import url("calendar.css");

/* Links */

a:link {
color: #990000;
text-decoration: none;
}

a:visited {
color: #990000;
text-decoration: none;
}

a:hover, a:focus {
color: #0000CC;
text-decoration: underline;
}

a:active {
color: #0000CC;
text-decoration: underline;
}

/* body */
html, body {
font-size: 11px;
margin: 0;
padding: 0;
height: 100%;
background-color: #eeeeee;
}

/* Customized HTML elements */ 

h1 {
font-weight: bold;
color: #37517B;
margin: 1em 0 1.5em 0;
}

h2 {
font-weight: bold;
color: #37517B;
margin: 1em 0 1em 0;
}

h3 {
font-weight: bold;
color: #37517B;
margin: 1em 0 1em 0;
}

input, textarea, select, submit {
font-size: 1em;
border: 1px solid #c0c0c0;
background-color: #eeeeee;
}

ul {
list-style-type: circle;
}

ol {

}

ul li {

}

ol li {

}

p {
margin: 1.25em 0 1.25em 0;
}

table {

}

td {
vertical-align: top;
padding: .5em 2em .5em .5em;
}

th {
vertical-align: top;
padding: 1em .5em 1em .5em;
text-align: left;
}

/* Container elements */

#container {
position: relative;
min-height: 95%;
background-color: #ffffff;
}


/* header */
#navigation 
{ 
width: 100%;
position: relative;
margin-bottom: 0;
}

#navigation-inner
{
background-color: #eeeeee;
border-bottom: 1px solid #000000;
padding: 0 1em 0 1em;
min-height: 30px;
}

#header
{
width: auto;
height: auto;
}

#header-inner
{
margin: 1em 0 1em 0;
padding: 0;
}

#header-inner h1
{
font-size: 1.6em;
padding: 0 0 .25em 0;
font-weight: bold;
color: #37517B;
border-bottom: 1px dashed #37517B;
}

/* Footer */
.footer
{
width: 100%;
}

#footer-inner {
background-color: #eeeeee;
border-top: 1px solid #000000;
padding: 1em;
font-size: .8em;
color: #666666;
min-height: 15px;
}

/* Content */

#content
{
}

#content-inner
{
padding: 15px 1em;
}

#content-inner-no-nav
{
padding: 1em;
}

#content-inner h2
{
font-size: 1.25em;
font-weight: bold;
color: #37517B;
padding: 1em 0 .5em 0;
}

#content-inner-no-nav h2 {
padding: 1.5em 0 .25em 0;
font-size: 1.25em;
font-weight: bold;
color: #37517B;
border-bottom: 1px solid #37517B;
}

/* Nav */

#nav {
margin: 0 0 0 0;
padding: 1em 0 0;
font-size: .9em;
}

#nav li
{
display: inline;
list-style-type: none;
padding: 0 8px 0 0;
margin: 0;
}

#break {
display: block;
margin: .5em 0 0 0;
}

/* Custom Elements */

.paypal {
background-color: #ffffff;
background-image: url(https://www.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif);
background-repeat: no-repeat;
border: 0;
height: 47px;
width: 144px;
cursor: pointer;
padding: 0;
margin: 0;
}

.colorTable {
border-collapse: collapse;
width: 200px;
}

.colorTabletd { 
text-align: center;
vertical-align: middle;
white-space: nowrap;
padding: 2px;
}

.error {
color: #FF0000;
font-size: 1.2em;
font-weight: bold;
margin: 0 0 1em 0;
padding: .5em .5em .5em 2.2em;
background-image: url(../images/error.png);
background-position:.5em;
background-repeat: no-repeat;
background-color: #FFFF99;
border: 1px solid #FF0000;
}

.required {
color: #FF0000;
padding: .25em .5em .25em 1.7em;
background-image: url(../images/exclamation.png);
background-position: top left;
background-repeat: no-repeat;
}

.setupTitle {
padding: .5em 0 0 0;
font-size: 1.5em;
font-weight: bold;
}

.dataTable { 
width: 100%;
}

.dataTable th {
background-color: #bec8d8;
}

.dataHeading {
font-weight: bold;
padding: .5em 0 .5em .5em;
white-space: nowrap;
}

.dataList {
padding: .5em 2em .5em .5em;
}

.dataLabel {
font-weight: bold;
padding: .5em 1em .5em 0;
white-space: nowrap;
}

.data {
padding: .5em 1em .5em .5em;
}

.data-left {
padding: .5em 1em .5em 0;
}

.icon {
padding: 0 5px 0 0;
vertical-align: middle;
}

.bdr1T {
border-top: 1px solid #37517B;
}

.bdr1B {
border-bottom: 1px solid #37517B;
}

.bdr1B_dashed {
border-bottom: 1px dotted #cccccc;
}

.bdr1T_dashed {
border-top: 1px dotted #cccccc;
}

.admin {
background-color:#FFFFCC;
}

.button { 
border: 1px solid #aaaaaa;
background-color: #cccccc;
font-weight: bold;
padding: 3px;
} 

.button:hover {
border: 1px solid #aaaaaa;
background-color: #bec8d8;
cursor: pointer;
}

.info {
color: #000099;
font-size: 1.2em;
font-weight: bold;
margin: 0 0 1em 0;
padding: .5em .5em .5em 2.2em;
background-image: url(../images/information.png);
background-position: .5em;
background-repeat: no-repeat;
background-color: #B7D9FF;
border: 1px solid #000099;
}

.dataTableCompact  { 
}

.dataTableCompact td { 
vertical-align: top;
padding: 2px;
}

.dataTableCompact th
{
vertical-align: top;
padding: 1em .5em 1em .5em;
background-color: #dddddd;
text-align: left;
font-size: 1.1em;
}

.looper {
width: 120px;
text-align: center;
padding: 1em .5em 1em .5em;
}

.looper_large {
width: 25%;
min-height: 150px;
text-align: center;
padding: 1em .5em 1em .5em;
}

.looper_large th {
min-height: 25px;
vertical-align: top;
}

.looper_large .location {
min-height: 15px;
vertical-align: top;
}

.looper_large .logo {
min-height: 200px;
vertical-align: top;
}

.looper_large .info {
min-height: 15px;
vertical-align: top;
}


#sponsor {
margin: 0 0 0 1em;
padding: 0;
list-style: none;
}

#sponsor li {
padding: 0 0 1em 1.75em;
background-image: url(../images/bullet_star.png);
background-repeat: no-repeat;
background-position: top left;
}

.bos {
color: #990000;
font-size: 1.2em;
font-weight: bold;
margin: 1em 0 1em 0;
padding: .5em .5em .5em 1.5em;
background-image: url(../images/rosette.png);
background-position: center left;
background-repeat: no-repeat;
}

.error {
color: #FF0000;
font-size: 1.2em;
font-weight: bold;
margin: .5em 0 1em 0;
padding: .5em .5em .5em 2.2em;
background-image: url(../images/error.png);
background-position: .5em;
background-repeat: no-repeat;
background-color: #FFFF99;
border: 1px solid #FF0000;
}

.closed {
color: #0A4A06;
font-size: 1.2em;
font-weight: bold;
margin: .5em 0 1em 0;
padding: .5em .5em .5em 2.2em;
background-image: url(../images/tick.png);
background-position: .5em;
background-repeat: no-repeat;
background-color: #E0FDDF;
border: 1px solid #0A4A06;
}

.adminSubNavContainer {
margin: 10px 0 20px 0;
}

.adminSubNav {
padding: 1em 1.5em 1em 0;
white-space: nowrap;
}

.trigger {
	padding: 5px 0 5px 0;
	cursor: pointer;
	position: relative;
	margin: 1px;
    font-weight: bold;
	font-size: 1.2em;
}

.trigger a {
	outline: 0;
}

.trigger a:link, .trigger a:visited, .trigger a:hover, .trigger a:active {
 	text-decoration: none;
}

.toggle_container {
	background-image: none;
	/* Use the following for accordian */
	/* display: none */
}

.toggle_container a {
	/* Use the following for accordian */
	/* display: block */
}

.admin_default {
	margin: 0 0 1.5em 0;
	padding: 0 .5em 0 0;
}

.admin_default ul {
	display: inline;
}

.admin_default li {
	display: inline;
	list-style-type: none;
	padding: 0 1.5em 0 0;
	margin: 0;
}

.admin_default li li {
	display: inline;
	list-style-type: none;
	padding: 0 1.5em 0 0;
	margin: 0;
}

.admin_default_header {
	border-bottom: 1px dotted #bbbbbb;
	font-size: 1em;
	font-weight: bold;
	margin: 1.5em 0 .5em 0;
	padding: 0 0 .5em 0;
}
