@charset "utf-8";
/* CSS Document */

/* Links */

a:link {
color: #990000;
text-decoration: none;
}

a:visited {
color: #990000;
text-decoration: none;
}

a:hover, a:focus {
color: #0000CC;
text-decoration: underline;
}

a:active {
color: #0000CC;
text-decoration: underline;
}

/* body */
html, body {
font-size: 11px;
margin: 0;
padding: 0;
height: 100%;
background-color: #eeeeee;
}

/* Customized HTML elements */ 

h1 {
font-weight: bold;
color: #37517B;
margin: 1em 0 1.5em 0;
}

h2 {
font-weight: bold;
color: #37517B;
margin: 1em 0 1em 0;
}

h3 {
font-weight: bold;
color: #37517B;
margin: 1em 0 1em 0;
}

input, textarea, select, submit {
font-size: 1em;
border: 1px solid #c0c0c0;
background-color: #eeeeee;
}

ul {
list-style-type: circle;
}

ol {

}

ul li {

}

ol li {

}

p {
margin: 1.25em 0 1.25em 0;
}

table {

}

td {
vertical-align: top;
padding: .5em 2em .5em .5em;
}

th {
vertical-align: top;
padding: 1em .5em 1em .5em;
background-color: #dddddd;
text-align: left;
font-size: 1.1em;
}

/* Container elements */

#container {
position: relative;
min-height: 95%;
background-color: #ffffff;
}


/* header */
#navigation 
{ 
width: 100%;
position: relative;
margin-bottom: 0;
}

#navigation-inner
{
background-color: #eeeeee;
border-bottom: 1px solid #000000;
padding: 0 1em 0 1em;
min-height: 30px;
}

#header
{
width: auto;
height: auto;
}

#header-inner
{
margin: 1em 0 1em 0;
padding: 0;
}

#header-inner h1
{
font-size: 1.6em;
padding: 0 0 .25em 0;
font-weight: bold;
color: #37517B;
border-bottom: 1px dashed #37517B;
}

/* Footer */
#footer
{
width: 100%;
}

#footer-inner {
background-color: #eeeeee;
border-top: 1px solid #000000;
padding: 1em;
font-size: .8em;
color: #666666;
min-height: 15px;
}

/* Content */

#content
{
}

#content-inner
{
padding: 15px 1em;
}

#content-inner-no-nav
{
padding: 1em;
}

#content-inner h2
{
font-size: 1.25em;
font-weight: bold;
color: #37517B;
padding: 1em 0 .5em 0;
}

#content-inner-no-nav h2 {
padding: 1.5em 0 .25em 0;
font-size: 1.25em;
font-weight: bold;
color: #37517B;
border-bottom: 1px solid #37517B;
}

/* Nav */

#nav {
margin: 0 0 0 0;
padding: 1em 0 0;
font-size: .9em;
}

#nav li
{
display: inline;
list-style-type: none;
padding: 0 8px 0 0;
margin: 0;
}

#break {
display: block;
margin: .5em 0 0 0;
}

/* Custom Elements */

.paypal {
background-color: #ffffff;
background-image: url(https://www.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif);
background-repeat: no-repeat;
border: 0;
height: 47px;
width: 144px;
cursor: pointer;
padding: 0;
margin: 0;
}

.colorTable {
border-collapse: collapse;
width: 200px;
}

.colorTabletd { 
text-align: center;
vertical-align: middle;
white-space: nowrap;
padding: 2px;
}

.error {
color: #FF0000;
font-size: 1.2em;
font-weight: bold;
margin: 0 0 1em 0;
padding: .5em .5em .5em 2.2em;
background-image: url(../images/error.png);
background-position:.5em;
background-repeat: no-repeat;
background-color: #FFFFCC;
border: 1px solid #FF0000;
}

.required {
color: #FF0000;
padding: .25em .5em .25em 1.7em;
background-image: url(../images/exclamation.png);
background-position: top left;
background-repeat: no-repeat;
}

.setupTitle {
padding: .5em 0 0 0;
font-size: 1.5em;
font-weight: bold;
}

.dataTable { 
width: 100%;
}

.dataTable th {
vertical-align: top;
padding: 1em .5em 1em .5em;
background-color: #dddddd;
text-align: left;
font-size: 1.1em;
}

.dataHeading {
font-weight: bold;
padding: .5em 0 .5em .5em;
white-space: nowrap;
}

.dataList {
padding: .5em 2em .5em .5em;
}

.dataLabel {
font-weight: bold;
padding: .5em .5em .5em 0em;
white-space: nowrap;
}

.data {
padding: .5em 1em .5em .5em;
}

.data-left {
padding: .5em 1em .5em 0;
}

.icon {
padding: 0 5px 0 0;
vertical-align: middle;
}

.bdr1T {
border-top: 1px solid #999999;
}

.bdr1B {
border-bottom: 1px solid #999999;
}

.bdr1B_dashed {
border-bottom: 1px dotted #cccccc;
}

.bdr1T_dashed {
border-top: 1px dotted #cccccc;
}

.admin {
background-color:#FFFFCC;
}

.button { 
border: 1px solid #aaaaaa;
background-color: #cccccc;
font-weight: bold;
padding: 3px;
} 

.button:hover {
border: 1px solid #aaaaaa;
background-color: #999999;
cursor: pointer;
}

.info {
color: #000099;
font-size: 1.2em;
font-weight: bold;
margin: 0 0 1em 0;
padding: .5em .5em .5em 2.2em;
background-image: url(../images/information.png);
background-position: .5em;
background-repeat: no-repeat;
background-color: #B7D9FF;
border: 1px solid #000099;
}

.dataTableCompact  { 
}

.dataTableCompact td { 
vertical-align: top;
padding: 2px;
}

.dataTableCompact th
{
vertical-align: top;
padding: 1em .5em 1em .5em;
background-color: #dddddd;
text-align: left;
font-size: 1.1em;
}

.looper {
width: 120px;
text-align: center;
padding: 1em .5em 1em .5em;
}

.looper_large {
width: 25%;
min-height: 150px;
text-align: center;
padding: 1em .5em 1em .5em;
}

#sponsor {
margin: 0 0 0 1em;
padding: 0;
list-style: none;
}

#sponsor li {
padding: 0 0 1em 1.75em;
background-image: url(../images/bullet_star.png);
background-repeat: no-repeat;
background-position: top left;
}

.bos {
color: #990000;
font-size: 1.2em;
font-weight: bold;
margin: 1em 0 1em 0;
padding: .5em .5em .5em 1.5em;
background-image: url(../images/rosette.png);
background-position: center left;
background-repeat: no-repeat;
}

#closed {
color: #990000;
font-size: 1.2em;
font-weight: bold;
margin: 1.3em 0 1em 0;
padding: .5em;
background-color: #FFFF99;
border: 1px solid #FFCC33;
display: block;
}

/* Calendar Widget Elements  */

#CalendarControlIFrame {
display: none;
left: 0px;
position: absolute;
top: 5px;
height: 250px;
width: 250px;
z-index: 99;
}

#CalendarControl {
position:absolute;
background-color:#efefef;
margin: 5px 0 0 10px;
padding:0;
display:none;
z-index: 100;
}

#CalendarControl table {
font-family: inherit;
font-size: .8em;
border: 1px solid #000000;
}

#CalendarControl th {
font-weight: normal;
padding: 1px;
}

#CalendarControl th a {
font-weight: normal;
text-decoration: none;
color: #000000;
padding: 1px;
}

#CalendarControl td {
text-align: center;
padding: 1px;
}

#CalendarControl .header {
background-color: #cccccc;
}

#CalendarControl .weekday {
background-color: #dddddd;
color: #000000;
}

#CalendarControl .weekend {
background-color: #bbbbbb;
color: #000000;
}

#CalendarControl .current {
background-color: #eeeeee;
color: #000000;
}

#CalendarControl .weekday, #CalendarControl .weekend, #CalendarControl .current {
display: block;
text-decoration: none;
width: 2.5em;
}

#CalendarControl .weekday:hover, #CalendarControl .weekend:hover, #CalendarControl .current:hover {
color:#003399;
background-color: #eeeeee;
}

#CalendarControl .previous {
  text-align: left;
}

#CalendarControl .next {
text-align: right;
}

#CalendarControl .previous, #CalendarControl .next {
  padding: 1px 3px 1px 3px;
}

#CalendarControl .previous a, #CalendarControl .next a {
color: #000000;
text-decoration: none;
font-weight: bold;
}

#CalendarControl .title {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  color: #000000;
}

#CalendarControl .empty {
  background-color: #aaaaaa;
}

/* Admin menu drop-down styles */

div.menuBar, div.menuBar a.menuButton, div.menu, div.menu a.menuItem {
display: inline;
}

div.menuBar {
text-align: left;
}

div.menuBar a.menuButton {
background-color: transparent;
cursor: default;
left: 0px;
margin: 1px;
padding: 2px 6px 2px 6px;
position: relative;
text-decoration: none;
top: 0px;
z-index: 100;
}

div.menuBar a.menuButton:hover {
background-color: transparent;
}

div.menuBar a.menuButtonActive, div.menuBar a.menuButtonActive:hover {
background-color: #333333;
color: #ffffff;
}

div.menu {
background-color: #eeeeee;
border: 1px solid #d0d0d0;
position: absolute;
visibility: hidden;
z-index: 101;
}

div.menu a.menuItem {
cursor: default;
display: block;
padding: 3px 1em;
text-decoration: none;
white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
background-color: #333333;
color: #ffffff;
}

div.menu a.menuItem span.menuItemText {
}

div.menu a.menuItem span.menuItemArrow {
margin-right: -.75em;
font-size: .7em;
}

div.menu div.menuItemSep {
border: 1px solid #e0e0e0;
margin: 10px 5px;
}