@charset "utf-8";
/* CSS Document */

/* Admin menu drop-down styles */

div.menuBar, 
div.menuBar a.menuButton, 
div.menu, 
div.menu a.menuItem {
display: inline;
}

div.menuBar {
text-align: left;
margin:0;
}

div.menuBar a.menuButton {
background-color: transparent;
cursor: pointer;
left: 0px;
position: relative;
text-decoration: none;
top: 0px;
z-index: 100;
}

div.menuBar a.menuButton:hover {
background-color: transparent;
cursor: pointer;
}

div.menuBar a.menuButtonActive, 
div.menuBar a.menuButtonActive:hover {
cursor: pointer;
}

div.menu {
background-color: #eeeeee;
border: 1px solid #d0d0d0;
position: absolute;
visibility: hidden;
z-index: 101;
}

div.menu a.menuItem {
cursor: default;
display: block;
padding: 3px 1em 3px 3px;
text-decoration: none;
white-space: nowrap;
cursor: pointer;
margin: 0;
}

div.menu a.menuItem:hover, 
div.menu a.menuItemHighlight {
background-color: #bec8d8;
cursor: pointer;
}

div.menu a.menuItem span.menuItemText {
}

div.menu a.menuItem span.menuItemArrow {
margin-right: -.75em;
font-size: .7em;
}

div.menu div.menuItemSep {
border: 1px solid #e0e0e0;
margin: 10px 5px;
}